{{!-- <div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.user_name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money"></span>
    <span class="dollar-amount">{{art_body}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div> --}}
